
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/bin - Shortcut.lnk
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Cache/errorlog.txt
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Cache/giftsub.csv
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Cache/newsub.csv
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Cache/resub.csv
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Include/footer.txt
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Include/header.txt
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Microsoft.Extensions.Configuration.Abstractions.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Microsoft.Extensions.Configuration.Abstractions.xml
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Microsoft.Extensions.Configuration.Binder.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Microsoft.Extensions.Configuration.Binder.xml
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Microsoft.Extensions.Configuration.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Microsoft.Extensions.Configuration.xml
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Microsoft.Extensions.DependencyInjection.Abstractions.xml
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Microsoft.Extensions.Logging.Abstractions.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Microsoft.Extensions.Logging.Abstractions.xml
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Microsoft.Extensions.Logging.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Microsoft.Extensions.Logging.xml
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Microsoft.Extensions.Options.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Microsoft.Extensions.Options.xml
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Microsoft.Extensions.Primitives.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Microsoft.Extensions.Primitives.xml
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Microsoft.Win32.Primitives.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/netstandard.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Newtonsoft.Json.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Newtonsoft.Json.pdb
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Newtonsoft.Json.xml
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/ProtonSubMonitorProgram.exe
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/ProtonSubMonitorProgram.exe.config
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/ProtonSubMonitorProgram.pdb
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/RestSharp.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/RestSharp.xml
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Serilog.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Serilog.Extensions.Logging.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/Settings/twitch.txt
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/SuperSocket.ClientEngine.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.AppContext.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Buffers.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Buffers.xml
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Collections.Concurrent.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Collections.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Collections.NonGeneric.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Collections.Specialized.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.ComponentModel.Annotations.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.ComponentModel.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.ComponentModel.EventBasedAsync.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.ComponentModel.Primitives.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.ComponentModel.TypeConverter.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Console.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Data.Common.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Diagnostics.Contracts.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Diagnostics.Debug.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Diagnostics.FileVersionInfo.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Diagnostics.Process.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Diagnostics.StackTrace.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Diagnostics.TextWriterTraceListener.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Diagnostics.Tools.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Diagnostics.TraceSource.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Diagnostics.Tracing.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Drawing.Primitives.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Dynamic.Runtime.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Globalization.Calendars.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Globalization.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Globalization.Extensions.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.IO.Compression.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.IO.Compression.ZipFile.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.IO.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.IO.FileSystem.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.IO.FileSystem.DriveInfo.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.IO.FileSystem.Primitives.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.IO.FileSystem.Watcher.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.IO.IsolatedStorage.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.IO.MemoryMappedFiles.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.IO.Pipes.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.IO.UnmanagedMemoryStream.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Linq.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Linq.Expressions.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Linq.Parallel.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Linq.Queryable.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Memory.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Memory.xml
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Net.Http.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Net.NameResolution.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Net.NetworkInformation.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Net.Ping.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Net.Primitives.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Net.Requests.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Net.Security.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Net.Sockets.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Net.WebHeaderCollection.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Net.WebSockets.Client.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Net.WebSockets.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Numerics.Vectors.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Numerics.Vectors.xml
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.ObjectModel.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Reflection.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Reflection.Extensions.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Reflection.Primitives.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Resources.Reader.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Resources.ResourceManager.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Resources.Writer.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Runtime.CompilerServices.VisualC.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Runtime.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Runtime.Extensions.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Runtime.Handles.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Runtime.InteropServices.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Runtime.Numerics.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Runtime.Serialization.Formatters.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Runtime.Serialization.Json.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Runtime.Serialization.Primitives.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Runtime.Serialization.Xml.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Security.Claims.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Security.Cryptography.Algorithms.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Security.Cryptography.Csp.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Security.Cryptography.Encoding.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Security.Cryptography.Primitives.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Security.Cryptography.X509Certificates.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Security.Principal.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Security.SecureString.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Text.Encoding.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Text.Encoding.Extensions.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Text.RegularExpressions.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Threading.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Threading.Overlapped.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Threading.Tasks.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Threading.Tasks.Parallel.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Threading.Thread.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Threading.ThreadPool.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Threading.Timer.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.ValueTuple.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Xml.ReaderWriter.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Xml.XDocument.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Xml.XmlDocument.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Xml.XmlSerializer.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Xml.XPath.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/System.Xml.XPath.XDocument.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/TwitchLib.Client.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/TwitchLib.Client.Enums.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/TwitchLib.Client.Models.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/TwitchLib.Communication.dll
ProtonSubMonitorProgram/ProtonSubMonitorProgram/bin/Debug/WebSocket4Net.dll
